.home-main {
    display: flex;
    overflow: hidden;
}

.home-content {
    display: flex;
    width: 100%;
    height: 100vh;
}

.new-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-welcome {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.new-welcome img {
    display: flex;
    width: 35px;
}

.new-welcome h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 2.3rem;
    font-weight: 200;
    letter-spacing: -1px;
    color: #c3c3c3;
}

/* bar chat */
.bar-chat-main {
    display: flex;
    flex-direction: column;
    width: 680px;
    padding: 20px;
    gap: 10px;
    border: 1px solid #151515;
    border-radius: 22px;
    background: #0f0f0f;
    transition: var(--transition);
    box-shadow: 0px 6px 10px 2px #060606;
}

.bar-chat-main:hover {
    border-color: #202020;
}

.bar-chat-main.active {
    width: 650px;
}

.bar-chat-textarea {
    display: flex;
    min-height: 40px;
    max-height: 200px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: var(--black);
    resize: none;
}

.bar-chat-textarea::-webkit-scrollbar {
    display: flex;
    width: 5px;
}

.bar-chat-textarea::-webkit-scrollbar-thumb {
    background: #151515;
    border-radius: 20px;
}

.bar-chat-textarea.active {
    min-height: 20px;
}

.bar-chat-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-chat-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 7px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    color: var(--gray-color-1);
}

.bar-chat-btns button:hover {
    background: #191919;
}

.bar-chat-btns div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bar-chat-btns div p {
    cursor: default;
    font-size: 0.75rem;
    color: var(--gray-color-3);
}